.context-menu {
  position: absolute;
  background: #b383a4cc;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  cursor: default;
}

.context-menu p {
  background: #b383a4cc;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0.2rem 0.5rem;
}

.context-menu p:hover {
  background: #923d77cc;
}
